.box
  %h3 &nbsp;
  .clearfix
  .sidenote{:class => "left small"}
    %p{:class => 'o'} Get to know us better
  .right{:class => "big"}
    %p
      railsdoctors</strong> is an IT company based in the Netherlands.
    %p
      If you have a specific problem you wish to discuss or if you want to know more about the        |
      possibilities we offer, please feel free to contact us directly.
    %p
      The easiest way to reach us is through old fashioned email. Please   |
      contact us at <a href="mailto:contact@railsdoctors.com">contact@railsdoctors.com</a>.
    %p
      Your <strong>railsdoctors</strong>, <a href="mailto:bart@railsdoctors.com">Bart ten Brinke</a>  |
      and <a href="mailto:willem@railsdoctors.com">Willem van Bergen</a>.