.box
  %h3 &nbsp;
  .clearfix
  .sidenote{:class => "left small"}
    %p{:class => 'o'} Everything you need to know, wrapped up in a little nutshell
  .right{:class => "big"}
    %p
      Although Rails is a fairly new framework, we at <strong>railsdoctors</strong> already have more |
      than seven years of experience with developing rails applications in enterprise environments.   |
      In the process we have developed several tools, like the widely used                            |
      <a href="request_log_analyzer.html">request log analyzer</a> gem.
    %p
      If you are currently running a rails application in the wild and have either                    |
      <a href="performance.html">performance</a> or <a href="security.html">security</a> concerns,    |
      you have come to the right place.
    %p
      <strong>Railsdoctors</strong> can analyze your application and offer advice on caching,         |
      database design, application structure and even server architecture.                            |
      If you want additional information, please contact us through the                               |
      <a href="contact.html">contact page</a>.
    %p
      Yours sincerely, <a href="mailto:bart@railsdoctors.com">Bart ten Brinke</a> and                 |
      <a href="mailto:willem@railsdoctors.com">Willem van Bergen</a>.
