.box
  %h3 &nbsp;
  .clearfix
  .sidenote{:class => "left small"}
    %p{:class => 'o'} Any growing application will encounter some kind of performance problem
  .right{:class => "big"}
    %p
      Performance and scaling have nothing to do with the programming language or framework used. Any |
      growing application will encounter some kind of performance problem in it's lifetime.
    %p
      Finding out why your application is not performing as you expected can be very difficult. And   |
      because the rails framework offers a wide range of caching and performance options, it is even  |
      more difficult to actually solve a performance issue correctly.
    %p
      This is where <strong>railsdoctors</strong> comes in. Because of our experience we can help you |
      find the root cause of your problem and how best to fix it.
    %p
      In the process we have developed several tools, like the widely used                            |
      <a href="request_log_analyzer.html">request log analyzer</a> gem.
    