.box
  %h3 &nbsp;
  .clearfix
  .sidenote{:class => "left small"}
    %p{:class => 'o'} In the dark you will never find the lightswitch without a flashlight
  .right{:class => "big"}
    %p
      Request log analyzer is an opensource tool the <strong>railsdoctors</strong> created to analyze |
      applications. It is a simple command line tool which can be used to analyze request log files   |
      of both Rails and Merb to produce a performance report. Its purpose is to find what actions are |
      best candidates for optimization.
    %p
      You can install it by running <em>sudo gem install request-log-analyzer</em> or fetch the       |
      source from <a href="http://github.com/wvanbergen/request-log-analyzer/">Github</a>.      
    %p{:class => "o"}
  .right{:class => "big"}
    %p
    %p

.box
  %h3 Testimonials
.small{:class => "left"}
  .clearfix
  %p
    I discovered request-log-analyzer when looking for a way to monitor my Rails app. And I have to say I am very happy with it.
  %p
    Thank you very much for providing us with such tool.
  %p
    Best regards, <strong>Edmond</strong>

.left{:class => "small"}
  .clearfix
  %p
    What log analyzing tool do you use? I have found request-log-analyzer to be pretty cool for that purpose.
  %p
    <strong>Fernando Perez</strong>

.right{:class => "small"}
  .clearfix
  %p
    Cool. Thanks! Using rla now to analyze my 2.5GB of log files.
  %p
    I am impressed: constant 5MB memory usage and beautiful output.
  %p
    <strong>Narnach</strong>