.box
  %h3 &nbsp;
  .clearfix
  .sidenote{:class => "left small"}
    %p{:class => 'o'} Every webapplication has a leak. The question is who will find it.
  .right{:class => "big"}
    %p
      Security is important for any webapplication. Every day companies are losing money because      |
      their website is defaced or their data is exposed.    
    %p
      The rails framework offers a lot of protection against a standard exploits. However, this will  |
      not guarantee you that you are <strong>100% safe</strong>. Wrong usage of rails or simple       |
      mistakes can leave your application wide open for anyone to abuse.
    %p
      <strong>Railsdoctors</strong> can audit your application either white or black box and offer    |
      solutions for any security issue encoutered.